Package: gepdb
Version: 0.1-1
Section: base
Priority: optional
Architecture: all
Depends: python (>= 2.6.6-2)
Maintainer: Patrick Sabin <patricksabin@gmx.at>
Description: A graphical user interface for epdb.
